#root {
  max-width: 100%;
  margin: 7%;
  padding: 2rem;
  margin-left: 20px;

}

.App{
  display: flex;
}
.card {
  padding: 2em;
  margin-top: 142px;
}

.submit{
  width: 82px;
height: 24px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 8px;
position: absolute;
width: 162px;
height: 40px;
left: 215px;
top: 550px;
background: #FF9138;
box-shadow: 0px 0px 6px #E7E9F2;
border-radius: 8px;
font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
border: none;
}

#username {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
 box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 10px 10px 12px;
gap: 10px;
height: 44px;
background: #FFFFFF;
border: 1.5px solid #D4D4D7;
border-radius: 8px;
flex: none;
order: 1;
flex-grow: 0;

}

.login-pass, .login-email {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.login-pass .p-password-input, #resetpass .p-password-input, #resetpassnew .p-password-input {
  border: none;
    border-radius: 8px;
    width: 380px;
    padding: 10px 10px 10px 12px;
    height: 24px;
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
}

.login-pass .p-password,  #resetpass .p-password, #resetpassnew .p-password{
  display: flex;
  position: relative;
  align-items: center;
}

.login-pass .p-password i svg, #resetpass .p-password i svg, #resetpassnew .p-password i svg{
  color: black;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
}

.login-pass .p-password i, #resetpass .p-password i, #resetpassnew .p-password i {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
}

.logo-alta{
  position: absolute;
  width: 170px;
  height: 136px;
  left: 208px;
  top: 82px;
}

.form-login {
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.eye{
  width: 16px;
  height: 16px;
  position: absolute;
  left: 460px;
  top: 436px;
  transform: translate(-50%);
  cursor: pointer;
  max-width: 20px;
  color: #7E7D88;
}
.forgotPassword{
  height: 21px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #E73F3F;
}

.forgotPasswordFalse {
  position: absolute;
left: 246px;
top: 610px;
}
#forgotemail{
  box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 270px 10px 12px;
gap: 10px;
position: absolute;
width: 400px;
height: 44px;
left: 94px;
top: 391px;
background: #FFFFFF;
border: 1.5px solid #D4D4D7;
border-radius: 8px;
font-family: 'Nunito';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;
}
.avatar{
  position: absolute;
  width: 61%;
  height:730px;
  left: 592px;
  top: 0px;
  background: #FFFFFF;
}
.anh{
  position: absolute;
  width: 605px;
  height: 614.06px;
  left: 79px;
  top:83px;
}
.btn1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 8px;
  border: none;
  position: absolute;
  width: 162px;
  height: 40px;
  left: 304px;
  top: 483px;
  background: #FF9138;
  box-shadow: 0px 0px 6px #E7E9F2;
  border-radius: 8px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.btn2{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 8px;
position: absolute;
width: 162px;
height: 40px;
left: 100px;
top: 483px;
border:  1px solid #FF9138;
background: white;
border-radius: 8px;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #FF9138;
}
.btn3{
  border: none;
color: #FFFFFF;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 8px;
position: absolute;
width: 162px;
height: 40px;
left: 219px;
top: 579px;
background: #FF9138;
box-shadow: 0px 0px 6px #E7E9F2;
border-radius: 8px;
flex: none;
order: 0;
flex-grow: 0
}
.tx1{
  position: absolute;
  left: 14.51%;
  right: 73.68%;
  top:45%;
  bottom: 57.53%;
  width: 300px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #282739;
}
.tx2{
  position: absolute;
  width: 450px;
  height: 27px;
  left: 94px;
  top: 360px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #37474F;
}
.tx3{
  width: 450px;
  position: absolute;
left: 13.75%;
right: 71.6%;
top: 42%;
bottom: 56.42%;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
color: #282739;
}
#resetpass{
position: absolute;
left: 94px;
top: 380px;
}

.ten3{
position: absolute;
width: 75px;
height: 27px;
left: 98px;
top: 350px;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #37474F;
}
.eye2{
  width: 16px;
  height: 16px;
  position: absolute;
  left: 460px;
  top: 480px;
  transform: translate(-50%);
  cursor: pointer;
  max-width: 20px;
  color: #7E7D88;
}
.ten4{
  position: absolute;
  width: 200px;
  height: 27px;
  left: 98px;
  top: 440px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #37474F;
}
.eye3{
  width: 16px;
  height: 16px;
  position: absolute;
  left: 460px;
  top: 388px;
  transform: translate(-50%);
  cursor: pointer;
  max-width: 20px;
  color: #7E7D88;
}
#resetpassnew{
  position: absolute;
  left: 94px;
  top: 470px;
  } 

.reset, .resetnew{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.tx6{
  z-index: 2;
position: absolute;
width: 47px;
height: 18px;
right: 148px;
top: 24px;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #7E7D88;

}
.tx7{
  z-index: 2;
  position: absolute;
  width: 130px;
  height: 24px;
  right: 65px;
  top: 42px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #535261;
}
.SideMenu{
position: absolute;
width: 200px;
height: 810px;
left: 0px;
top: 0px;
background: #FFFFFF;
box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
border-radius: 16px 0px 0px 16px;
}
.signout{
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 12px;
position: absolute;
width: 176px;
height: 48px;
left: 12px;
top: 732px;
background: #FFF2E7;
border-radius: 8px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #FF7506;
flex: none;
order: 1;
flex-grow: 0;
border: none;
}
.thongtincanhan{
  position: absolute;
  display: flex;
width: 1240px;
height: 88px;
left: 224px;
top: 24px;
}
.breadcrumb{
  display: flex;
  justify-content: center;
  align-items: center;
}
#arrowRight {
  margin-inline-end: 8px;
  margin-inline-start: 8px;
}
.breadcrumb div:last-child .txt1 {
  color: #FF7506;
}
.breadcrumb .txt1 {
  color: #7E7D88;
}
.breadcrumb > div:last-child #arrowRight {
  display: none;
}

.avt1{
  z-index: 2;
  position: absolute;
width: 40px;
height: 40px;
right: 202px;
top: 24px;

background: url(.jpg);
border-radius: 48px;
}
.tx5{
  position: absolute;
  top: 29px;  
  width: auto;
height: 30px;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #FF9138;
flex: none;
order: 1;
flex-grow: 0;
}
.logomini{
position: absolute;
width: 80px;
height: 64px;
left: 60px;
top: 32px;
}
.menu{
position: absolute;
width: 200px;
height: 48px;
left: 0px;
top: 150px;
background: #FFFFFF;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
line-height: 24px;
color: #7E7D88;
flex: none;
order: 1;
flex-grow: 0;
}
.chitietthongtin{
position: absolute;
width: 1200px;
height: 397px;
left: 224px;
top: 168px;
background: #FFFFFF;
box-shadow: 0px 2px 6px rgba(219, 219, 219, 0.5);
border-radius: 12px;
}
.avt2{
  position: absolute;
width: 248px;
height: 248px;
left: 24px;
top: 40px;
background: url(.jpg);
border-radius: 318px;
}
.tx8{
  position: absolute;
  width: 190px;
  height: 36px;
  left: 55px;
  top: 307px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #282739;
}
#tenuser{
  display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 10px;
position: absolute;
width: 380px;
height: 30px;
left: 296px;
top: 72px;
background: #EAEAEC;
border-radius: 6px;
border: none;
}
.tenuser{
position: absolute;
width: 200px;
height: 24px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #282739;
flex: none;
order: 0;
flex-grow: 0;
top:40px;
left: 296px;
}
#sdt{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  position: absolute;
  width: 380px;
  height: 30px;
  left: 296px;
  top: 172px;
  background: #EAEAEC;
  border-radius: 6px;
  border: none;
}
.sdt{
  position: absolute;
  top:240px;
  left: 296px;
  width: 120px;
height: 24px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #282739;
flex: none;
order: 0;
flex-grow: 0;
}
#email{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  position: absolute;
  width: 380px;
  height: 30px;
  left: 296px;
  top: 272px;
  background: #EAEAEC;
  border-radius: 6px;
  border: none;
}
.email{
  position: absolute;
  top:140px;
  left: 296px;
  width: 120px;
height: 24px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #282739;
flex: none;
order: 0;
flex-grow: 0;
}
#tenlogin{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  position: absolute;
  width: 380px;
  height: 30px;
  left: 750px;
  top: 72px;
  background: #EAEAEC;
  border-radius: 6px;
  border: none;
}
.tenlogin{
  position: absolute;
  top:40px;
  left: 750px;
  width: 120px;
height: 24px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #282739;
flex: none;
order: 0;
flex-grow: 0;
}
#matkhau{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  position: absolute;
  width: 380px;
  height: 30px;
  left: 750px;
  top: 172px;
  background: #EAEAEC;
  border-radius: 6px;
  border: none;
}
.matkhau{
  position: absolute;
  top: 140px;
  left: 750px;
  width: 120px;
height: 24px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #282739;
flex: none;
order: 0;
flex-grow: 0;
}
#vaitro{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  position: absolute;
  width: 380px;
  height: 30px;
  left: 750px;
  top: 272px;
  background: #EAEAEC;
  border-radius: 6px;
  border: none;
}
.vaitro{
  position: absolute;
  top: 240px;
  left: 750px;
  width: 120px;
height: 24px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #282739;
flex: none;
order: 0;
flex-grow: 0;
}
.thayavt{
  box-sizing: border-box;
  border-radius: 25px;
position: relative;
display: block;
width: 45px;
height: 45px;
left: 195px;
top: 246px;
background: #FF7506;
border: 2px solid #FFFFFF;
cursor: pointer;
}
.btnthongbao{
  position: absolute;
width: 32px;
height: 32px;
right: 260px;
top: 28px;
background: #FFF2E7;
border-radius: 32px;
border: none;
z-index: 2;
}
.thongbao {
  width: calc(360px - 24px);
height: 48px;
background: #FF9138;
display: flex;
align-items: center;
padding-left: 24px;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.popup-thongbao {
  width: 360px;
  height: 526px;
  z-index: 99;
  background-color: #FFFFFF;
position: absolute;
left: 620px;
top: 65px;
box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
border-radius: 10px;
}
.popup-data {
overflow-x: hidden;
overflow-y: scroll;
height: calc(526px - 48px);
}
.title-popup {
  color: #BF5805;
  font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
}
.time-popup {
  font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #535261;
}
.bell{
  width: 20px;
  height: 20px;
  color:  #FFAC6A;
}
.camera{
  position: absolute;
width: 30px;
height: 30px;
left: 6px;
top: 5.5px;
color: white;
}
.logout{
  position: static;
  width: 30px;
  height: 30px;
  left: 6px;
  top: 5.5px;
  color: #FF7506;;
}
.ant-menu-submenu-arrow {
  display: none;
}

.menu .ant-menu-submenu-title {
  padding-right: 0;
}